.button {
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $text-color;
    background-color: $background-color;
  }
  &:active {
    color: greenyellow;
  }
}

.btn__main {
  background: $background-color;
  color: $text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;
  border: transparent;
}
.button__list {
  display: flex;
}
.button__list li {
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 34px;
  &li:last-child {
    margin-right: 0;
  }
}

.button__icon {
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  &:active {
    fill: $fill-color;
  }
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn__main {
  background: $background-color;
  color: $text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;
  border: transparent;
  &:hover {
    background-color: $bgColor;
  }
}
.button__primary {
  background-color: $background-color;
  color: $text-color;
  padding: 6px 25px;
  border-radius: 4px;
  min-width: 73px;
  border: 1px solid $primary-border-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: $primary-border-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.button__secondary {
  background: $secondary-bg-color;
  border-radius: 4px;
  border: 1px solid $border-color;
  min-width: 103px;
  padding: 6px 22px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: $primary-border-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.button__icon {
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  &:active {
    fill: $fill-color;
  }
}

.btn__icon {
  padding: 0;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 50% 50%;
  width: 44px;
  height: 44px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(255, 255, 255, 0.1);
  transition-property: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $background-color;
    fill: $fill;
    border-radius: 50%;
  }
}
.btn__send {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $background-color;
  color: $text-color;
  padding: 10px 52px;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid $primary-border-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 124px;
  margin-right: 124px;
  &:hover {
    background-color: $bgColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  &:focus {
    color: yellowgreen;
  }
}
.btn__subscribe {
  display: flex;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 62px 10px 28px;
  letter-spacing: 0.06em;
  background-color: $background-color;
  color: $text-color;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid $primary-border-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  cursor: pointer;
}
.btn__subscribe {
  background-image: url(../../img/icon-send.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 83%;
  background-position-y: 65%;
  &:active {
    color: greenyellow;
  }
  &:hover {
    color: $text-color;
    background-color: $third-bg-color;
  }
}

.button__list {
  display: flex;
  justify-content: center;
  &li {
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 34px;
  }
  &li:last-child {
    margin-right: 0;
  }
}
