.container-footer {
  @media screen and (max-width: 479px) {
    display: block;
    max-width: 479px;
  }
  @media screen and (min-width: 480px) {
    display: block;
    max-width: 767px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1199px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    min-width: 1200px;
  }
}
.section-adress {
  @media screen and (min-width: 480px) {
    display: block;
    margin: 0 auto;
    padding-left: 109px;
    padding-right: 109px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 0;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}
.form__input-mail {
  padding: 15px 0 15px 16px;
  background-color: $third-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: $text-color;

  &:hover,
  &:focus {
    color: $text-color;
    border-color: $primary-border-color;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 20px;
  }
}
.contact-list {
  margin-top: 20px;
  @media screen and (min-width: 480px) {
    width: 232px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    width: 232px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
  }
}
.link:hover {
  color: $secondary-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-adress {
  color: $text-color;
}
.footer {
  background-color: $third-bg-color;
  @media screen and (min-width: 480px) {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.link-adress,
.link-contact {
  padding-top: 0;
  padding-bottom: 9px;
}
.social-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.social-media {
  @media screen and (min-width: 480px) {
    display: block;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
    width: 372px;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.form__title-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color;
  @media screen and (min-width: 480px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    text-align: left;
    width: 570px;
  }
}

.form__footer {
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    transform: translateX(30%);
  }
  @media screen and (min-width: 1200px) {
    transform: translateX(0);
    margin-right: 0;
    max-width: 100%;
  }
}

.form__feedback {
  @media screen and (min-width: 480px) {
    display: block;
    margin-top: 20px;
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 20px;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 20px;
    width: 570px;
  }
}
.btn__subscribe {
  display: flex;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 62px 10px 28px;
  letter-spacing: 0.06em;
  background-color: $background-color;
  color: $text-color;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid $primary-border-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  cursor: pointer;
  @media screen and (min-width: 480px) {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
.btn__subscribe {
  background-image: url(../../img/icon-send.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 83%;
  background-position-y: 65%;
  &:active {
    color: greenyellow;
  }
  &:hover {
    color: $text-color;
    background-color: $third-bg-color;
  }
}
