.logo {
  font-family: Raleway;
  color: $color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $secondary-text-color;
  }
  @media screen and (max-width: 279px) {
    padding: 16px 276px 16px 15px;
    max-width: 100%;
  }
  @media screen and (min-width: 480px) {
    padding: 16px 276px 16px 15px;
    font-size: 24px;
    line-height: 28px;
  }
  @media screena and (min-width: 768px) {
    padding: 26px 87px 26px 15px;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 92px 25px 215px;
  }
}

.logo-footer {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway;
  color: $text-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $secondary-text-color;
  }
}
.web-logo,
.web-logo-footer {
  color: $secondary-text-color;
}
.section-adress > .logo-footer {
  padding-bottom: 20px;
}
