.menu-button {
  display: inline-flex;
  margin: 0;
  padding-left: 276px;
  border: none;
  background-color: transparent;
  margin: 10px 0 10px 0;
  @media screen and (max-width: 479px) {
    padding-left: 100px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-close {
  display: none;
}
.menu-container {
  @media screen and (max-width: 479px) {
    position: absolute;
    background-color: $primary-bg-color;
    display: block;

    max-width: 100%;
  }
  @media screen and (min-width: 480px) {
    position: absolute;
    background-color: $primary-bg-color;
    display: block;
    max-height: 796px;
    max-width: 100%;
  }
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    border-top: none;
    top: 100%;
    left: 0;
    width: 100%;
    &.is-open {
      display: block;
      padding-bottom: 48px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
    max-height: 31px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.navigations-menu,
.contacts,
.media-item {
  height: auto;
  width: auto;
  @media screen and (min-width: 768px) {
    float: left;
  }
}
