.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 555;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 479px) {
    padding: 60px 15px;
   }
  @media screen and (min-width: 480px) {
    padding: 93px 15px 94px 15px;
  }
  @media screen and (min-width: 768px) {
    padding: 208px 159px 207px 159px;
  }
  @media screen and (min-width: 1200px) {
    padding: 221px 536px 222px 536px;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;

  background-color: $primary-bg-color;
  @media screen and (max-width: 479px) {
     top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    max-height: 609px;
  }
  @media screen and (min-width: 480px) {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: 768px) {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: 1200px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 587px;
  }
}

.closeModal {
  display: flex;
  position: absolute;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  color: #757575;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-bg-color;
  cursor: pointer;
  transition-property: $primary-bg-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $primary-bg-color;
    border: 1px solid $primary-border-color;
    fill: #2196f3;
  }
}

.form {
  display: block;
  margin: 0 auto;
  @media screen and (max-width: 479px) {
    width: 270px;
  }
  @media screen and (min-width: 480px) {
    width: 370px;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    width: 370px;
    height: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
    margin: 40px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  &label {
    margin-bottom: 4px;
  }
}
input {
  .form__field & {
    width: 100%;
    margin: 0;
    padding: 12px 0 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @media screen and (max-width: 479px) {
      width: 250px;
      margin-left: 10px;
    }
  }
}

.form__title-modal {
  @media screen and (max-width: 479px) {
     margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 480px) {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

textarea {
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  &:active {
    color: $color;
    border-color: $primary-border-color;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    color: $color;
    border-color: $primary-border-color;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

.checkbox-agree {
  display: flex;
  align-items: center;

  font-weight: 400;

  letter-spacing: 0.03em;
  color: $primary-text-color;
  width: 425px;
  min-height: 24px;

  &:before {
    content: "";
    margin-right: 8px;
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid $third-border-color;
    border-radius: 2px;
  }
  @media screen and (max-width: 479px){
     font-size: 8px;
    line-height: 10px;
    margin-left: 8px;
  }
  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.check-line {
  margin: 20px 0;
}
.check-line input:checked + .checkbox-agree:before {
  background-color: $background-color;
  border: none;
  background-image: url(../../img/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*/img/check-mark.svg*/
.agree {
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin: 0;
}
.input-line {
  display: inline-block;
  @media screen and (max-width: 479px) {
     font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.03em;
    width: 270px;
    align-content: center;
  }
  @media screen and (min-width: 480px) {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 12px;
    max-height: 24px;
    width: 425px;
  }
}

.link-agreement {
  color: $secondary-text-color;
  padding-left: 3px;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

.icon-input {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  }
.icon-size {
  width: 15px;
  height: 15px;
}

.form__input-wrapper {
  position: relative;
  &:hover {
    fill: $secondary-fill;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-input {
  width: 448px;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
    color: $color;
    border-color: $primary-border-color;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

.form__label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  @media screen and (max-width: 479px) {
    margin-left: 10px;
  }
}
