.business {
  display: block;
  background-color: $third-bg-color;
  text-align: center;
  padding-bottom: 200px;
}
.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../../img/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 480px) {
    display: block;
    max-width: 100%;
    height: auto;
  }
  @media screen and (min-width: 768px) {
    display: block;
    height: auto;
    max-width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    height: auto;
    max-width: 100%;
  }
}
.business__section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.business__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $text-color;
  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 42px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
  }
}
