.container-project {
  display: flex;
  flex-wrap: wrap;
  width: 1218px;
}

.container-project__element {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition-property: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    &:hover .project__action {
  transform: translateY(0);
  opacity: 1;
}
  }
&:nth-child(3n) {
  margin-right: 0;
}

&:nth-last-child(-n + 3) {
  margin-bottom: 0;
}}



.project__wrap {
  margin: 20px 24px;
}

.project__item {
  position: relative;
  overflow: hidden;
}

.project__action {
  display: flex;
  content: "";
  position: absolute;
  width: 370px;
  height: 294px;
  padding: 0;
  margin: 0;
  top: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.project__action {
  transition-property: transform;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}


