$color: #212121;
$textColor: red;
$primary-text-color: #757575;
$secondary-text-color: #2196f3;
$text-color:#ffffff;

$rgba-color: rgba(255, 255, 255, 0.6);
$secondary-rgba-color: rgba(33, 150, 243, 0.9);

$bg-color: #f5f5f5;
$background-color:#2196f3;
$secondary-bg-color: #f5f4fa;
$primary-bg-color:#ffffff;
$third-bg-color: #2f303a;
$bgColor: rgb(7, 95, 139);

$fill:#ffffff;
$fillColor:red;
$fill-color: greenyellow;
$primary-fill: #afb1b8;
$secondary-fill: #2196f3;

$border: #ececec;
$border-color: #f5f4fa;
$primary-border-color: #2196f3;
$secondary-border-color: #afb1b8;
$third-border-color: #212121;


.contact-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title-main {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-team {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.contact-list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.project__title {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.business__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title-social-media {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 20px;
}
